<div class="container"></div>
<div class="card" id="card">
    <img class="card-img-top" src="../assets/jsc.jpg" alt="Card image top" id="image1">
    <div class="card-body">
      <h3 class="card-title">Card title</h3>
      <h4 class="card-subtitle">Card subtitle</h4>
      <p class="card-text">This is a simple Card example</p>
    </div>
  </div> 
  <div class="card" id="card">
    <img class="card-img-top" src="../assets/jsc.jpg" alt="Card image top" id="image1">
    <div class="card-body">
      <h3 class="card-title">Card title</h3>
      <h4 class="card-subtitle">Card subtitle</h4>
      <p class="card-text">This is a simple Card example</p>
    </div>
  </div> 
  
  <div class="card" id="card">
    <img class="card-img-top" src="../assets/jsc.jpg" alt="Card image top" id="image1">
    <div class="card-body">
      <h3 class="card-title">Card title</h3>
      <h4 class="card-subtitle">Card subtitle</h4>
      <p class="card-text">This is a simple Card example</p>
    </div>
  </div> 